In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import math
from sklearn import linear_model
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [125]:
%matplotlib inline

# Deal with data

## Import dataframe

In [126]:
pd.set_option('display.max_columns',None)

In [127]:
df = pd.read_csv('fifa21_train.csv')
display(df.head())
df.shape

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,foot,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Contract,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,Right,1,"Jul 1, 2015",NaN,€525K,€4K,€801K,2015 ~ 2020,258,54,47,43,70,44.0,286,61,44.0,55,63,63,346,64,73,61.0,66,82.0,306,62,73.0,71,55,45,290,54,52.0,62.0,68.0,54,54.0,148,49,56,43.0,48,7,12,14,9,6,1682,357,4 ★,2★,High,Medium,1 ★,69,51,63,63,51,60,3,58+1,58+1,58+1,61+0,62+0,62+0,62+0,61+0,63+1,63+1,63+1,63+1,63+1,63+1,63+1,63+1,59+1,59+1,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,Right,0,"Jan 16, 2015","Dec 31, 2020",€8.5M,€23K,€0,"Dec 31, 2020 On Loan",365,66,79,76,68,76.0,375,83,78.0,72,63,79,404,83,83,88.0,75,75.0,372,74,81.0,75,74,68,313,54,33.0,78.0,72.0,76,70.0,77,35,20,22.0,55,11,7,14,7,16,1961,412,3 ★,4★,High,Low,2 ★,83,75,68,82,33,71,44,77+0,77+0,77+0,77+0,77+0,77+0,77+0,77+0,76+1,76+1,76+1,76+1,68+2,68+2,68+2,76+1,57+2,53+2,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,Right,0,"Jan 31, 2019",NaN,€9M,€49K,€15.3M,2019 ~ 2022,336,73,76,34,78,75.0,424,85,89.0,91,74,85,424,84,76,93.0,78,93.0,308,79,34.0,75,42,78,332,75,26.0,80.0,78.0,73,82.0,80,23,29,28.0,21,6,3,6,3,3,1925,404,4 ★,4★,High,Medium,2 ★,80,77,78,86,27,56,73,73+2,73+2,73+2,80+0,79+0,79+0,79+0,80+0,80+0,80+0,80+0,79+1,74+2,74+2,74+2,79+1,59+2,56+2,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,Right,13,"Jul 1, 2016",NaN,€275K,€4K,€694K,2016 ~ 2021,242,44,42,58,62,36.0,259,54,41.0,46,57,61,282,54,59,59.0,55,55.0,277,57,60.0,64,58,38,257,61,57.0,31.0,54.0,54,48.0,168,55,58,55.0,42,8,9,6,7,12,1527,329,2 ★,2★,Medium,Medium,1 ★,57,44,54,57,57,60,7,50+2,50+2,50+2,51+0,51+0,51+0,51+0,51+0,53+2,53+2,53+2,53+2,56+2,56+2,56+2,53+2,56+2,58+2,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,Right,8,"Jul 1, 2018",NaN,€725K,€2K,€1.4M,2018 ~ 2021,249,49,37,61,68,34.0,280,64,44.0,45,61,66,324,66,66,61.0,62,69.0,280,61,34.0,81,61,43,294,66,60.0,55.0,64.0,49,58.0,185,58,61,66.0,52,8,9,15,5,15,1664,360,2 ★,3★,Low,Medium,1 ★,66,44,60,64,60,66,4,56+2,56+2,56+2,59+0,59+0,59+0,59+0,59+0,61+2,61+2,61+2,62+2,63+2,63+2,63+2,62+2,64+2,64+2,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

(11701, 101)

In [128]:
list(df.columns)

['ID',
 'Name',
 'Age',
 'Nationality',
 'Club',
 'BP',
 'Position',
 'Team & Contract',
 'Height',
 'Weight',
 'foot',
 'Growth',
 'Joined',
 'Loan Date End',
 'Value',
 'Wage',
 'Release Clause',
 'Contract',
 'Attacking',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Skill',
 'Dribbling',
 'Curve',
 'FK Accuracy',
 'Long Passing',
 'Ball Control',
 'Movement',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Power',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Mentality',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Defending',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeping',
 'GK Diving',
 'GK Handling',
 'GK Kicking',
 'GK Positioning',
 'GK Reflexes',
 'Total Stats',
 'Base Stats',
 'W/F',
 'SM',
 'A/W',
 'D/W',
 'IR',
 'PAC',
 'SHO',
 'PAS',
 'DRI',
 'DEF',
 'PHY',
 'Hits',
 'LS',
 'ST',
 'RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB',
 'GK',
 'OVA']

## Standardize Headers

In [129]:
def stHead(df):
    new_header = []
    for h in df.columns:
        x = h.lower().replace(' ','_')
        new_header.append(x)
    df.columns = new_header
    display(df)

In [130]:
stHead(df)

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,foot,growth,joined,loan_date_end,value,wage,release_clause,contract,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,curve,fk_accuracy,long_passing,ball_control,movement,acceleration,sprint_speed,agility,reactions,balance,power,shot_power,jumping,stamina,strength,long_shots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standing_tackle,sliding_tackle,goalkeeping,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,w/f,sm,a/w,d/w,ir,pac,sho,pas,dri,def,phy,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,Right,1,"Jul 1, 2015",NaN,€525K,€4K,€801K,2015 ~ 2020,258,54,47,43,70,44.0,286,61,44.0,55,63,63,346,64,73,61.0,66,82.0,306,62,73.0,71,55,45,290,54,52.0,62.0,68.0,54,54.0,148,49,56,43.0,48,7,12,14,9,6,1682,357,4 ★,2★,High,Medium,1 ★,69,51,63,63,51,60,3,58+1,58+1,58+1,61+0,62+0,62+0,62+0,61+0,63+1,63+1,63+1,63+1,63+1,63+1,63+1,63+1,59+1,59+1,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,Right,0,"Jan 16, 2015","Dec 31, 2020",€8.5M,€23K,€0,"Dec 31, 2020 On Loan",365,66,79,76,68,76.0,375,83,78.0,72,63,79,404,83,83,88.0,75,75.0,372,74,81.0,75,74,68,313,54,33.0,78.0,72.0,76,70.0,77,35,20,22.0,55,11,7,14,7,16,1961,412,3 ★,4★,High,Low,2 ★,83,75,68,82,33,71,44,77+0,77+0,77+0,77+0,77+0,77+0,77+0,77+0,76+1,76+1,76+1,76+1,68+2,68+2,68+2,76+1,57+2,53+2,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,Right,0,"Jan 31, 2019",NaN,€9M,€49K,€15.3M,2019 ~ 2022,336,73,76,34,78,75.0,424,85,89.0,91,74,85,424,84,76,93.0,78,93.0,308,79,34.0,75,42,78,332,75,26.0,80.0,78.0,73,82.0,80,23,29,28.0,21,6,3,6,3,3,1925,404,4 ★,4★,High,Medium,2 ★,80,77,78,86,27,56,73,73+2,73+2,73+2,80+0,79+0,79+0,79+0,80+0,80+0,80+0,80+0,79+1,74+2,74+2,74+2,79+1,59+2,56+2,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,Right,13,"Jul 1, 2016",NaN,€275K,€4K,€694K,2016 ~ 2021,242,44,42,58,62,36.0,259,54,41.0,46,57,61,282,54,59,59.0,55,55.0,277,57,60.0,64,58,38,257,61,57.0,31.0,54.0,54,48.0,168,55,58,55.0,42,8,9,6,7,12,1527,329,2 ★,2★,Medium,Medium,1 ★,57,44,54,57,57,60,7,50+2,50+2,50+2,51+0,51+0,51+0,51+0,51+0,53+2,53+2,53+2,53+2,56+2,56+2,56+2,53+2,56+2,58+2,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,Right,8,"Jul 1, 2018",NaN,€725K,€2K,€1.4M,2018 ~ 2021,249,49,37,61,68,34.0,280,64,44.0,45,61,66,324,66,66,61.0,62,69.0,280,61,34.0,81,61,43,294,66,60.0,55.0,64.0,49,58.0,185,58,61,66.0,52,8,9,15,5,15,1664,360,2 ★,3★,Low,Medium,1 ★,66,44,60,64,60,66,4,56+2,56+2,56+2,59+0,59+0,59+0,59+0,59+0,61+2,61+2,61+2,62+2,63+2,63+2,63+2,62+2,64+2,64+2,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,"6'1""",168lbs,Left,5,"Feb 8, 2018",NaN,€625K,€3K,€891K,2018 ~ 2021,224,62,24,51,59,28.0,248,57,49.0,29,54,59,333,78,73,68.0,53,61.0,273,31,72.0,77,68,25,266,63,59.0,51.0,54.0,39,46.0,184,59,64,61.0,61,13,14,14,6,14,1589,347,3 ★,2★,Medium,Medium,1 ★,75,28,56,59,60,69,3,48+2,48+2,48+2,55+0,52+0,52+0,52+0,55+0,54+2,54+2,54+2,58+2,56+2,56+2,56+2,58+2,63+2,60+2,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2,65
11697,214680,G. Gallon,27,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,"6'1""",174lbs,Right,4,"Jul 1, 2019",NaN,€1.6M,€4K,€2.9M,2019 ~ 2022,84,12,14,13,29,16.0,96,17,15.0,19,27,18,237,40,40,38.0,65,54.0,217,50,59.0,29,64,15,101,30,22.0,15.0,15.0,19,56.0,41,12,16,13.0,347,72,67,66,70,72,1123,387,2 ★,1★,Medium,Medium,1 ★,72,67,66,72,40,70,3,28+2,28+2,28+2,24+0,26+0,26+0,26+0,24+0,24+2,24+2,24+2,25+2,25+2,25+2,25+2,25+2,25+2,26+2,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2,70
11698,221489,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,"5'6""",143lbs,Right,8,"Jan 23, 2019",NaN,€1.1M,€2K,€1.7M,2019 ~ 2024,286,64,66,51,64,41.0,291,71,57.0,38,58,67,388,77,76,86.0,62,87.0,278,61,71.0,64,37,45,241,27,25.0,66.0,58.0,65,58.0,62,37,12,13.0,57,13,10,11,7,16,1603,337,3 ★,3★,High,Medium,1 ★,76,60,60,72,26,43,6,62+2,62+2,62+2,67+0,65+0,65+0,65+0,67+0,65+2,65+2,65+2,66+2,58+2,58+2,58+2,66+2,49+2,44+2,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2,67
11699,146717,Anderson Silva,26,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,Right,7,NaN,NaN,€0,€0,€0,2010,254,64,66,51,73,NaN,284,74,NaN,63,72,75,198,71,72,NaN,55,NaN,258,61,NaN,71,64,62,241,64,61.0,63.0,NaN,53,NaN,113,55,58,NaN,81,9,24,72,24,24,1429,400,3 ★,1★,NaN,NaN,3 ★,72,63,70,72,57,66,3,68+0,68+0,68+0,71+0,68+0,68+0,68+0,71+0,72+0,72+0,72+0,71+0,71+0,71+0,71+0,71+0,66+0,68+0,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0,68
11700,236507,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,"5'7""",143lbs,Left,9,"Jul 22, 2019",NaN,€700K,€2K,€1.2M,2019 ~ 2020,289,43,64,65,64,53.0,267,64,41.0,43,55,64,391,81,78,87.0,61,84.0,312,62,85.0,65,42,58,244,34,20.0,66.0,63.0,61,56.0,56,20,18,18.0,48,10,8,14,8,8,1607,336,3 ★,3★,High,Low,1 ★,79,62,56,67,24,48,8,64+2,64+2,64+2,65+0,65+0,65+0,65+0,65+0,65+2,65+2,65+2,63+2,58+2,58+2,58+2,63+2,46+2,43+2,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2,64

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11701 entries, 0 to 11700
Columns: 101 entries, id to ova
dtypes: float64(10), int64(43), object(48)
memory usage: 9.0+ MB

In [132]:
df.describe()

,id,age,growth,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,curve,fk_accuracy,long_passing,ball_control,movement,acceleration,sprint_speed,agility,reactions,balance,power,shot_power,jumping,stamina,strength,long_shots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standing_tackle,sliding_tackle,goalkeeping,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,pac,sho,pas,dri,def,phy,ova
count,11701.000000,11701.00000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11660.000000,11701.000000,11701.000000,11660.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11660.000000,11701.000000,11660.000000,11701.000000,11701.000000,11660.000000,11701.000000,11701.00000,11701.000000,11701.000000,11701.000000,11694.000000,11694.000000,11660.000000,11701.000000,11422.000000,11701.000000,11701.000000,11701.000000,11660.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000
mean,219436.649004,25.27049,5.534655,258.482181,51.593795,48.048116,53.494060,60.436800,45.067324,266.497222,57.852491,49.617839,44.358260,54.214683,60.627810,322.617383,65.432527,65.446628,64.582075,62.899838,64.709348,302.083326,59.726348,65.036621,63.214939,65.17084,49.162465,261.704982,56.939065,46.815119,52.485890,55.439194,50.279378,59.947732,140.674558,46.964875,48.042560,45.827702,77.726946,15.604906,15.517734,15.494402,15.543458,15.768310,1629.786599,361.106316,68.095206,55.046406,58.893257,64.223229,50.030254,64.817964,66.921972
std,37480.006004,4.95764,5.810903,72.267012,17.872747,19.399617,16.956195,13.971811,17.732902,76.835287,18.050938,18.180408,17.484142,14.886875,15.886688,55.330054,14.735329,14.516404,14.484351,9.020199,14.131318,49.697749,13.511767,12.017118,15.350014,12.76541,19.058991,62.935298,17.066535,20.808153,19.069465,13.695285,15.713965,11.769872,61.599006,20.190466,21.470841,21.217062,81.221525,16.850815,16.155245,16.005114,16.409881,17.151738,260.766470,40.318331,11.247282,13.851853,10.174939,9.818311,16.841283,9.757873,6.876081
min,27.000000,16.00000,-1.000000,33.000000,6.000000,3.000000,5.000000,8.000000,4.000000,43.000000,5.000000,4.000000,5.000000,9.000000,5.000000,113.000000,13.000000,11.000000,14.000000,24.000000,17.000000,133.000000,12.000000,25.000000,12.000000,20.00000,4.000000,55.000000,9.000000,5.000000,2.000000,10.000000,8.000000,12.000000,17.000000,3.000000,6.000000,6.000000,12.000000,1.000000,2.000000,2.000000,2.000000,1.000000,731.000000,228.000000,26.000000,17.000000,25.000000,28.000000,12.000000,27.000000,38.000000
25%,204060.000000,21.00000,0.000000,232.000000,41.000000,33.000000,46.000000,56.000000,32.000000,232.000000,53.000000,37.000000,32.000000,45.000000,57.000000,294.000000,58.000000,59.000000,57.000000,57.000000,57.000000,271.000000,50.000000,58.000000,56.000000,58.00000,35.000000,235.000000,45.000000,26.000000,43.000000,47.000000,40.000000,53.000000,83.000000,29.000000,28.000000,25.000000,48.000000,8.000000,8.000000,8.000000,8.000000,8.000000,1490.000000,333.000000,62.000000,46.000000,52.000000,59.000000,35.000000,59.000000,62.000000
50%,229040.000000,25.00000,4.000000,271.000000,56.000000,52.000000,56.000000,63.000000,47.000000,279.000000,63.000000,52.000000,43.000000,57.000000,64.000000,331.000000,68.000000,68.000000,67.000000,63.000000,67.000000,308.000000,61.000000,66.000000,66.000000,66.00000,54.000000,269.000000,60.000000,52.000000,57.000000,57.000000,51.000000,61.000000,156.000000,52.000000,55.000000,52.000000,53.000000,11.000000,11.000000,11.000000,11.000000,11.000000,1659.000000,362.000000,69.000000,58.000000,59.000000,65.000000,53.000000,66.000000,67.000000
75%,244176.000000,29.00000,10.000000,306.000000,65.000000,64.000000,65.000000,69.000000,59.000000,319.000000,70.000000,64.000000,58.000000,65.000000,70.000000,361.000000,76.000000,75.000000,75.000000,69.000000,75.000000,339.000000,70.000000,73.000000,73.000000,74.00000,64.000000,304.000000,70.000000,65.000000,66.000000,65.000000,62.000000,68.000000,194.000000,64.000000,66.000000,64.000000,59.000000,14.000000,14.000000,14.000000,14.000000,14.000000,1811.000000,389.000000,76.000000,65.000000,66.000000,71.000000,64.000000,72.000000,72.000000
max,259090.000000,43.00000,26.000000,437.000000,94.000000,95.000000,93.000000,94.000000,90.000000,470.000000,96.000000,94.000000,94.000000,93.000000,96.000000,464.000000,97.000000,96.000000,96.000000,96.000000,97.000000,444.000000,95.000000,95.000000,97.000000,97.00000,94.000000,414.000000,96.000000,95.000000,96.000000,95.000000,94.000000,96.000000,267.000000,92.000000,90.000000,90.000000,439.000000,90.000000,88.000000,88.000000,93.000000,90.000000,2304.000000,490.000000,96.000000,93.000000,93.000000,95.000000,89.000000,93.000000,93.000000

## Identify numerical and categorical variables

In [133]:
list(df.dtypes)

[dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64')]

In [134]:
df._get_numeric_data()

,id,age,growth,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,curve,fk_accuracy,long_passing,ball_control,movement,acceleration,sprint_speed,agility,reactions,balance,power,shot_power,jumping,stamina,strength,long_shots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standing_tackle,sliding_tackle,goalkeeping,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,pac,sho,pas,dri,def,phy,ova
0,184383,26,1,258,54,47,43,70,44.0,286,61,44.0,55,63,63,346,64,73,61.0,66,82.0,306,62,73.0,71,55,45,290,54,52.0,62.0,68.0,54,54.0,148,49,56,43.0,48,7,12,14,9,6,1682,357,69,51,63,63,51,60,64
1,188044,30,0,365,66,79,76,68,76.0,375,83,78.0,72,63,79,404,83,83,88.0,75,75.0,372,74,81.0,75,74,68,313,54,33.0,78.0,72.0,76,70.0,77,35,20,22.0,55,11,7,14,7,16,1961,412,83,75,68,82,33,71,77
2,184431,33,0,336,73,76,34,78,75.0,424,85,89.0,91,74,85,424,84,76,93.0,78,93.0,308,79,34.0,75,42,78,332,75,26.0,80.0,78.0,73,82.0,80,23,29,28.0,21,6,3,6,3,3,1925,404,80,77,78,86,27,56,80
3,233796,22,13,242,44,42,58,62,36.0,259,54,41.0,46,57,61,282,54,59,59.0,55,55.0,277,57,60.0,64,58,38,257,61,57.0,31.0,54.0,54,48.0,168,55,58,55.0,42,8,9,6,7,12,1527,329,57,44,54,57,57,60,59
4,234799,23,8,249,49,37,61,68,34.0,280,64,44.0,45,61,66,324,66,66,61.0,62,69.0,280,61,34.0,81,61,43,294,66,60.0,55.0,64.0,49,58.0,185,58,61,66.0,52,8,9,15,5,15,1664,360,66,44,60,64,60,66,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,25,5,224,62,24,51,59,28.0,248,57,49.0,29,54,59,333,78,73,68.0,53,61.0,273,31,72.0,77,68,25,266,63,59.0,51.0,54.0,39,46.0,184,59,64,61.0,61,13,14,14,6,14,1589,347,75,28,56,59,60,69,65
11697,214680,27,4,84,12,14,13,29,16.0,96,17,15.0,19,27,18,237,40,40,38.0,65,54.0,217,50,59.0,29,64,15,101,30,22.0,15.0,15.0,19,56.0,41,12,16,13.0,347,72,67,66,70,72,1123,387,72,67,66,72,40,70,70
11698,221489,22,8,286,64,66,51,64,41.0,291,71,57.0,38,58,67,388,77,76,86.0,62,87.0,278,61,71.0,64,37,45,241,27,25.0,66.0,58.0,65,58.0,62,37,12,13.0,57,13,10,11,7,16,1603,337,76,60,60,72,26,43,67
11699,146717,26,7,254,64,66,51,73,NaN,284,74,NaN,63,72,75,198,71,72,NaN,55,NaN,258,61,NaN,71,64,62,241,64,61.0,63.0,NaN,53,NaN,113,55,58,NaN,81,9,24,72,24,24,1429,400,72,63,70,72,57,66,68
11700,236507,22,9,289,43,64,65,64,53.0,267,64,41.0,43,55,64,391,81,78,87.0,61,84.0,312,62,85.0,65,42,58,244,34,20.0,66.0,63.0,61,56.0,56,20,18,18.0,48,10,8,14,8,8,1607,336,79,62,56,67,24,48,64

In [135]:
numeCols = list(df._get_numeric_data().columns)
numeCols

['id',
 'age',
 'growth',
 'attacking',
 'crossing',
 'finishing',
 'heading_accuracy',
 'short_passing',
 'volleys',
 'skill',
 'dribbling',
 'curve',
 'fk_accuracy',
 'long_passing',
 'ball_control',
 'movement',
 'acceleration',
 'sprint_speed',
 'agility',
 'reactions',
 'balance',
 'power',
 'shot_power',
 'jumping',
 'stamina',
 'strength',
 'long_shots',
 'mentality',
 'aggression',
 'interceptions',
 'positioning',
 'vision',
 'penalties',
 'composure',
 'defending',
 'marking',
 'standing_tackle',
 'sliding_tackle',
 'goalkeeping',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_positioning',
 'gk_reflexes',
 'total_stats',
 'base_stats',
 'pac',
 'sho',
 'pas',
 'dri',
 'def',
 'phy',
 'ova']

In [136]:
df.select_dtypes('object')

,name,nationality,club,bp,position,team_&_contract,height,weight,foot,joined,loan_date_end,value,wage,release_clause,contract,w/f,sm,a/w,d/w,ir,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,A. Pasche,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,Right,"Jul 1, 2015",NaN,€525K,€4K,€801K,2015 ~ 2020,4 ★,2★,High,Medium,1 ★,3,58+1,58+1,58+1,61+0,62+0,62+0,62+0,61+0,63+1,63+1,63+1,63+1,63+1,63+1,63+1,63+1,59+1,59+1,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1
1,Alan Carvalho,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,Right,"Jan 16, 2015","Dec 31, 2020",€8.5M,€23K,€0,"Dec 31, 2020 On Loan",3 ★,4★,High,Low,2 ★,44,77+0,77+0,77+0,77+0,77+0,77+0,77+0,77+0,76+1,76+1,76+1,76+1,68+2,68+2,68+2,76+1,57+2,53+2,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2
2,S. Giovinco,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,Right,"Jan 31, 2019",NaN,€9M,€49K,€15.3M,2019 ~ 2022,4 ★,4★,High,Medium,2 ★,73,73+2,73+2,73+2,80+0,79+0,79+0,79+0,80+0,80+0,80+0,80+0,79+1,74+2,74+2,74+2,79+1,59+2,56+2,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2
3,J. Evans,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,Right,"Jul 1, 2016",NaN,€275K,€4K,€694K,2016 ~ 2021,2 ★,2★,Medium,Medium,1 ★,7,50+2,50+2,50+2,51+0,51+0,51+0,51+0,51+0,53+2,53+2,53+2,53+2,56+2,56+2,56+2,53+2,56+2,58+2,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2
4,Y. Demoncy,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,Right,"Jul 1, 2018",NaN,€725K,€2K,€1.4M,2018 ~ 2021,2 ★,3★,Low,Medium,1 ★,4,56+2,56+2,56+2,59+0,59+0,59+0,59+0,59+0,61+2,61+2,61+2,62+2,63+2,63+2,63+2,62+2,64+2,64+2,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,B. Böðvarsson,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,"6'1""",168lbs,Left,"Feb 8, 2018",NaN,€625K,€3K,€891K,2018 ~ 2021,3 ★,2★,Medium,Medium,1 ★,3,48+2,48+2,48+2,55+0,52+0,52+0,52+0,55+0,54+2,54+2,54+2,58+2,56+2,56+2,56+2,58+2,63+2,60+2,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2
11697,G. Gallon,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,"6'1""",174lbs,Right,"Jul 1, 2019",NaN,€1.6M,€4K,€2.9M,2019 ~ 2022,2 ★,1★,Medium,Medium,1 ★,3,28+2,28+2,28+2,24+0,26+0,26+0,26+0,24+0,24+2,24+2,24+2,25+2,25+2,25+2,25+2,25+2,25+2,26+2,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2
11698,J. Flores,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,"5'6""",143lbs,Right,"Jan 23, 2019",NaN,€1.1M,€2K,€1.7M,2019 ~ 2024,3 ★,3★,High,Medium,1 ★,6,62+2,62+2,62+2,67+0,65+0,65+0,65+0,67+0,65+2,65+2,65+2,66+2,58+2,58+2,58+2,66+2,49+2,44+2,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2
11699,Anderson Silva,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,Right,NaN,NaN,€0,€0,€0,2010,3 ★,1★,NaN,NaN,3 ★,3,68+0,68+0,68+0,71+0,68+0,68+0,68+0,71+0,72+0,72+0,72+0,71+0,71+0,71+0,71+0,71+0,66+0,68+0,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0
11700,T. Conechny,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,"5'7""",143lbs,Left,"Jul 22, 2019",NaN,€700K,€2K,€1.2M,2019 ~ 2020,3 ★,3★,High,Low,1 ★,8,64+2,64+2,64+2,65+0,65+0,65+0,65+0,65+0,65+2,65+2,65+2,63+2,58+2,58+2,58+2,63+2,46+2,43+2,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2

In [137]:
cateCols = list(df.select_dtypes('object').columns)
cateCols

['name',
 'nationality',
 'club',
 'bp',
 'position',
 'team_&_contract',
 'height',
 'weight',
 'foot',
 'joined',
 'loan_date_end',
 'value',
 'wage',
 'release_clause',
 'contract',
 'w/f',
 'sm',
 'a/w',
 'd/w',
 'ir',
 'hits',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb',
 'gk']

In [138]:
#print(df._get_numeric_data().columns)
#print(df.select_dtypes('object').columns)

## Categorical features analysis

In [139]:
# There are some features that seems to be numerical and are show like categorical
# height, weight, joined, loan_date_end, value, wage, release_clause

In [140]:
possible_nocat_feat = ['height', 'weight', 'joined', 'loan_date_end', 'value', 'wage', 'release_clause', 'w/f', 'sm', 'ir']

In [141]:
# ls	st	rs	lw	lf	cf	rf	rw	lam	cam	ram	lm	lcm	cm	rcm	rm	lwb	ldm	cdm	rdm	rwb	lb	lcb	cb	rcb	rb	gk

In [142]:
df[possible_nocat_feat].head()

,height,weight,joined,loan_date_end,value,wage,release_clause,w/f,sm,ir
0,"5'9""",161lbs,"Jul 1, 2015",NaN,€525K,€4K,€801K,4 ★,2★,1 ★
1,"6'0""",159lbs,"Jan 16, 2015","Dec 31, 2020",€8.5M,€23K,€0,3 ★,4★,2 ★
2,"5'4""",134lbs,"Jan 31, 2019",NaN,€9M,€49K,€15.3M,4 ★,4★,2 ★
3,"5'10""",152lbs,"Jul 1, 2016",NaN,€275K,€4K,€694K,2 ★,2★,1 ★
4,"5'11""",150lbs,"Jul 1, 2018",NaN,€725K,€2K,€1.4M,2 ★,3★,1 ★

### Extract club out of team and contrat

In [ ]:
# Drop team_&_contract. After a lot of work team & contract is just duplicated

In [143]:
df.drop(columns='team_&_contract',inplace=True)
cateCols.remove('team_&_contract')

In [ ]:
# Previous work to drop the columns. There is still a question to be solved

In [144]:
def remove_club(x, club):
    if ( club in x ):
        x = x.replace(club,"").lstrip()
        return x
    else:
        return x

# lambda x, club: x.replace(club,"").lstrip() if (club in x) else x

In [107]:
 #df[['team_&_contract','club']].apply(remove_club) --> pendiente de revisar por Ignacio

In [102]:
# df[df['club'].isna()==True]

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,foot,growth,joined,loan_date_end,value,wage,release_clause,contract,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,curve,fk_accuracy,long_passing,ball_control,movement,acceleration,sprint_speed,agility,reactions,balance,power,shot_power,jumping,stamina,strength,long_shots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standing_tackle,sliding_tackle,goalkeeping,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,w/f,sm,a/w,d/w,ir,pac,sho,pas,dri,def,phy,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
102,31432,D. Drogba,38,Ivory Coast,NaN,ST,ST,Ivory Coast Free,6.20,176,Right,0,"Jul 27, 2015",NaN,€0,€0,€0,Ivory Coast Free,370,67,82,85,60,76.0,376,74,78.0,84,60,80,327,64,64,63.0,80,56.0,388,85,76.0,62,86,79,363,80,42.0,81.0,76.0,84,80.0,83,22,32,29.0,49,10,11,8,6,14,1956,401,4 ★,3★,Medium,Low,3 ★,64,82,67,74,36,78,20,79+2,79+2,79+2,73+1,76+1,76+1,76+1,73+1,73+2,73+2,73+2,72+2,68+2,68+2,68+2,72+2,55+2,55+2,55+2,55+2,55+2,53+2,53+2,53+2,53+2,53+2,18+2,81
535,121944,B. Schweinsteiger,34,Germany,NaN,CB,CB,Germany Free,6.00,174,Right,0,"Mar 21, 2017",NaN,€0,€0,€0,Germany Free,358,70,65,73,78,72.0,380,70,82.0,70,79,79,263,32,36,53.0,80,62.0,348,73,68.0,60,75,72,370,77,71.0,68.0,80.0,74,87.0,215,73,71,71.0,65,14,14,13,13,11,1999,394,3 ★,3★,Medium,Medium,4 ★,34,69,77,71,72,71,27,69+3,69+3,69+3,67+0,70+0,70+0,70+0,67+0,72+3,72+3,72+3,68+3,75+0,75+0,75+0,68+3,68+3,75+0,75+0,75+0,68+3,68+3,73+2,73+2,73+2,68+3,20+3,75
697,251744,A. Grewal,26,India,NaN,ST,ST RM LM,India Free,5.80,148,Left,1,"Jul 12, 2019",NaN,€0,€0,€0,India Free,232,34,50,52,48,48.0,239,51,45.0,57,30,56,365,77,74,77.0,51,86.0,256,50,74.0,41,47,44,235,47,31.0,54.0,48.0,55,53.0,57,14,29,14.0,49,8,8,10,13,10,1433,297,3 ★,2★,High,Medium,1 ★,75,49,43,57,26,47,6,53+2,53+2,53+2,54+0,54+0,54+0,54+0,54+0,52+2,52+2,52+2,51+2,45+2,45+2,45+2,51+2,40+2,37+2,37+2,37+2,40+2,39+2,36+2,36+2,36+2,39+2,14+2,54
1599,247059,A. Al Hidhani,22,United Arab Emirates,NaN,RB,RB,United Arab Emirates Free,5.80,148,Right,8,"Jul 1, 2018",NaN,€0,€0,€0,United Arab Emirates Free,205,51,34,44,49,27.0,215,53,40.0,34,38,50,345,72,73,67.0,53,80.0,237,35,65.0,58,50,29,231,60,51.0,45.0,40.0,35,43.0,157,52,53,52.0,53,9,11,10,14,9,1443,312,3 ★,2★,Medium,Medium,1 ★,73,33,45,55,51,55,8,46+2,46+2,46+2,51+0,48+0,48+0,48+0,51+0,48+2,48+2,48+2,51+2,47+2,47+2,47+2,51+2,54+2,50+2,50+2,50+2,54+2,54+2,52+2,52+2,52+2,54+2,15+2,56
1754,1625,T. Henry,36,France,NaN,CAM,CF ST CAM LW,France Free,6.20,183,Right,0,"Dec 1, 2014",NaN,€0,€0,€0,France Free,354,63,75,59,78,79.0,383,82,83.0,72,62,84,364,77,72,78.0,81,56.0,333,75,70.0,54,64,70,323,61,23.0,83.0,83.0,73,NaN,76,26,25,25.0,49,10,12,7,10,10,1882,393,4 ★,4★,Medium,Medium,3 ★,74,75,74,81,28,61,22,76+1,76+1,76+1,77+1,78+1,78+1,78+1,77+1,80+-1,80+-1,80+-1,75+1,69+1,69+1,69+1,75+1,54+1,57+1,57+1,57+1,54+1,48+1,45+1,45+1,45+1,48+1,15+1,79
2224,138449,Kaká,35,Brazil,NaN,CAM,CAM CF,Brazil Free,6.10,183,Right,0,"Jul 1, 2014",NaN,€0,€0,€0,Brazil Free,365,74,74,52,81,84.0,389,79,84.0,70,73,83,332,63,61,68.0,76,64.0,319,76,53.0,44,70,76,332,45,42.0,77.0,84.0,84,85.0,76,14,31,31.0,19,3,5,5,3,3,1832,383,4 ★,4★,High,Medium,3 ★,62,76,79,78,30,58,21,73+2,73+2,73+2,76+1,77+1,77+1,77+1,76+1,78+2,78+2,78+2,75+2,73+2,73+2,73+2,75+2,55+2,56+2,56+2,56+2,55+2,51+2,45+2,45+2,45+2,51+2,12+2,80
2342,251737,J. Mangat,26,India,NaN,LM,LM,India Free,5.70,143,Left,1,"Sep 3, 2020",NaN,€0,€0,€0,India Free,220,50,40,44,44,42.0,237,57,48.0,35,42,55,327,67,68,65.0,49,78.0,231,51,61.0,45,40,34,174,32,15.0,50.0,46.0,31,47.0,58,28,14,16.0,46,8,6,12,14,6,1293,275,3 ★,2★,Medium,Medium,1 ★,68,41,45,58,22,41,3,49+2,49+2,49+2,52+0,51+0,51+0,51+0,52+0,50+2,50+2,50+2,52+2,44+2,44+2,44+2,52+2,39+2,34+2,34+2,34+2,39+2,37+2,31+2,31+2,31+2,37+2,13+2,53
2535,150597,J. Moukoko,23,DR Congo,NaN,ST,ST,DR Congo Free,5.11,170,Right,8,NaN,NaN,€0,€0,€0,DR Congo Free,189,36,55,47,51,NaN,191,61,NaN,41,40,49,173,65,56,NaN,52,NaN,223,57,NaN,64,55,47,193,54,46.0,45.0,NaN,48,NaN,70,32,38,NaN,83,8,25,40,25,25,1122,309,3 ★,1★,NaN,NaN,1 ★,60,53,44,55,39,58,13,57+0,57+0,57+0,51+0,57+0,57+0,57+0,51+0,54+0,54+0,54+0,51+0,51+0,51+0,51+0,51+0,45+0,51+0,51+0,51+0,45+0,46+0,44+0,44+0,44+0,46+0,25+0,54
2623,170482,R. Archubi,24,Argentina,NaN,CF,NaN,Argentina Free,6.00,159,Left,9,NaN,NaN,€0,€0,€0,Argentina Free,249,74,46,55,74,NaN,274,64,NaN,65,73,72,213,72,76,NaN,65,NaN,248,72,NaN,82,59,35,267,56,70.0,72.0,NaN,69,NaN,140,74,66,NaN,75,9,22,73,22,22,1466,398,3 ★,1★,NaN,NaN,2 ★,74,51,73,67,68,65,3,66+0,66+0,66+0,73+0,66+0,66+0,66+0,73+0,69+0,69+0,69+0,73+0,71+0,71+0,71+0,73+0,73+0,69+0,69+0,69+0,73+0,70+0,68+0,68+0,68+0,70+0,23+0,71
2733,8772,M. Viduka,33,Australia,NaN,ST,NaN,Australia Free,6.20,198,Right,7,NaN,NaN,€0,€0,€0,Australia Free,285,59,71,84,71,NaN,255,70,NaN,51,58,76,215,67,71,NaN,77,NaN,282,78,NaN,48,87,69,320,85,75.0,79.0,NaN,81,NaN,52,22,30,NaN,78,12,22,58,22,22,1487,395,2 ★,1★,NaN,NaN,3 ★,69,73,63,73,42,75,3,72+0,72+0,72+0,67+0,72+0,72+0,72+0,67+0,69+0,69+0,69+0,67+0,66+0,66+0,66+0,67+0,51+0,65+0,65+0,65+0,51+0,55+0,51+0,51+0,51+0,55+0,27+0,74
5331,251734,A. Sanghu,20,India,NaN,RM,RM CM,India Free,5.60,137,Right,0,"Jul 12, 2019",NaN,€0,€0,€0,India Free,236,49,38,43,51,55.0,265,57,61.0,48,44,55,356,81,77,81.0,38,79.0,251,48,58.0,74,36,35,235,50,34.0,49.0,50.0,52,50.0,83,18,32,33.0,56,16,16,8,6,10,1482,308,3 ★,3★,Medium,Low,1 ★,79,42,50,59,29,49,12,48+2,48+2,48+2,54+0,51+0,51+0,51+0,54+0,52+2,52+2,52+2,55+1,48+2,48+2,48+2,55+1,47+2,42+2,42+2,42+2,47+2,46+2,37+2,37+2,37+2,46+2,15+2,56
5591,251740,G. Thakkar,23,India,NaN,RM,ST,India Free,5.10,174,Right,2,"Jul 12, 2019",NaN,€0,€0,€0,India Free,251,41,57,51,46,56.0,234,59,37.0,33,47,58,360,87,83,65.0,60,65.0,295,53,67.0,72,52,51,269,68,33.0,59.0,55.0,54,57.0,51,11,21,19.0,50,15,10,10,6,9,1510,330,3 ★,2★,Medium,Low,1 ★,85,55,46,60,23,61,18,58+2,58+2,58+2,59+0,59+0,59+0,59+0,59+0,57+2,57+2,57+2,59+1,52+2,52+2,52+2,59+1,45+2,42+2,42+2,42+2,45+2,44+2,38+2,38+2,38+2,44+2,16+2,58
7809,247066,H. Al Mansoury,24,United Arab Emirates,NaN,GK,GK,United Arab Emirates Free,5.10,161,Right,7,"Jun 30, 2015",NaN,€0,€0,€0,United Arab Emirates Free,53,12,5,10,20,6.0,68,5,14.0,13,20,16,211,33,40,38.0,57,43.0,169,38,50.0,27,47,7,95,26,14.0,8.0,29.0,18,40.0,29,6,13,10.0,282,56,59,51,55,61,907,319,2 ★,1★,Medium,Medium,1 ★,56,59,51,61,37,55,3,20+2,20+2,20+2,19+0,20+0,20+0,20+0,19+0,20+2,20+2,20+2,20+2,21+2,21+2,21+2,20+2,20+2,21+2,21+2,21+2,20+2,20+2,20+2,20+2,20+2,20+2,57+2,58
8341,231577,O. Morales,27,Bolivia,NaN,RWB,RB,Bolivia Free,5.11,176,Right,0,"Jan 1, 2015",NaN,€0,€0,€0,Bolivia Free,217,64,26,40,64,23.0,197,52,31.0,28,57,29,295,61,63,57.0,52,62.0,252,28,59.0,78,63,24,223,47,60.0,37.0,37.0,42,NaN,182,52,66,64.0,44,8,10,11,6,9,1410,310,3 ★,2★,Medium,Medium,1 ★,62,27,54,46,58,63,3,40+0,40+0,40+0,46+0,42+0,42+0,42+0,46+0,45+0,45+0,45+0,51+0,50+0,50+0,50+0,51+0,60+-1,56+0,56+0,56+0,60+-1,59+0,56+0,56+0,56+0,59+0,13+0,59
10228,251738,M. Chada,27,India,NaN,RM,ST,India Free,5.10,170,Right,0,"Jul 12, 2019",NaN,€0,€0,€0,India Free,244,46,51,45,51,51.0,243,61,38.0,35,49,60,312,71,64,66.0,52,59.0,295,57,75.0,72,43,48,248,68,30.0,59.0,46.0,45,57.0,98,15,43,40.0,48,8,6,8,15,11,1488,316,1 ★,2★,High,Medium,1 ★,67,52,47,61,32,57,7,55+0,55+0,55+0,56+-1,56+-1,56+-1,56+-1,56+-1,55+0,55+0,55+0,57+-2,52+2,52+2,52+2,57+-2,48+2,46+2,46+2,46+2,48+2,47+2,42+2,42+2,42+2,47+2,15+2,55
11159,193911,S. Paul,31,India,NaN,GK,GK,India Free,6.10,172,Right,0,"Jul 23, 2017",NaN,€0,€0,€0,India Free,90,15,20,15,23,17.0,76,14,15.0,12,22,13,278,56,46,65.0,65,46.0,163,13,69.0,32,33,16,106,28,23.0,12.0,27.0,16,52.0,39,12,15,12.0,280,53,48,62,57,60,1032,331,3 ★,1★,Medium,Medium,1 ★,53,48,62,60,51,57,5,24+1,24+1,24+1,26+0,24+0,24+0,24+0,26+0,26+1,26+1,26+1,26+1,24+1,24+1,24+1,26+1,25+1,24+1,24+1,24+1,25+1,25+1,23+1,23+1,23+1,25+1,56+1,57
11509,250,D. Beckham,37,England,NaN,CM,CM RM,England Free,6.00,165,Right,0,"Jan 1, 2013",NaN,€0,€0,€0,England Free,335,82,62,41,82,68.0,419,66,94.0,89,87,83,318,54,62,58.0,80,64.0,372,79,59.0,81,70,83,367,81,57.0,72.0,87.0,70,NaN,150,60,46,44.0,51,10,12,7,15,7,2012,411,3 ★,2★,Medium,Medium,3 ★,58,71,85,71,52,74,16,68+1,68+1,68+1,74+1,73+1,73+1,73+1,74+1,77+1,77+1,77+1,77+1,77+1,77+1,77+1,77+1,67+1,73+1,73+1,73+1,67+1,63+1,59+1,59+1,59+1,63+1,15+1,78
11650,13940,J. Koller,36,Czech Republic,NaN,ST,NaN,Czech Republic Free,6.80,234,Right,2,NaN,NaN,€0,€0,€0,Czech Republic Free,302,57,84,86,75,NaN,220,56,NaN,42,43,79,208,60,67,NaN,81,NaN,324,87,NaN,68,94,75,302,69,72.0,85.0,NaN,76,NaN,65,23,42,NaN,159,38,41,43,41,39,1580,401,3 ★,1★,NaN,NaN,3 ★,64,82,59,68,47,81,3,78+0,78+0,78+0,67+0,78+0,78+0,78+0,67+0,70+0,70+0,70+0,67+0,68+0,68+0,68+0,67+0,56+0,70+0,70+0,70+0,56+0,62+0,58+0,58+0,58+0,62+0,46+0,78

### Treat club Nan

In [145]:
df['club'] = df['club'].fillna("Available")
# list(map(remove_club, df['team_&_contract'],df['club']))

In [67]:
# df['team_&_contract'] = df['team_&_contract'].apply(lambda x: x.lstrip(df.club)) -> no funciona

TypeError: lstrip arg must be None or str

### Transform Height and Weight

In [74]:
#df.height[0]
#float(df.height[0].rstrip('"').replace('\'','.'))

'5\'9"'

In [146]:
df.height = df.height.apply(lambda x: float(x.rstrip('"').replace('\'','.')))
df.height

0        5.90
1        6.00
2        5.40
3        5.10
4        5.11
         ...
11696    6.10
11697    6.10
11698    5.60
11699    6.20
11700    5.70
Name: height, Length: 11701, dtype: float64

In [149]:
df.weight = df.weight.apply(lambda x: int(x.rstrip('lbs')))
df.weight

#df.weight = list(map(.rstrip('lbs'),df.weight))
#df.weight

0        161
1        159
2        134
3        152
4        150
        ...
11696    168
11697    174
11698    143
11699    179
11700    143
Name: weight, Length: 11701, dtype: int64

In [152]:
cateCols.remove('weight')
cateCols.remove('height') # Como se pueden quitar varios valores simultaneamente de una lista?
cateCols

['name',
 'nationality',
 'club',
 'bp',
 'position',
 'foot',
 'joined',
 'loan_date_end',
 'value',
 'wage',
 'release_clause',
 'contract',
 'w/f',
 'sm',
 'a/w',
 'd/w',
 'ir',
 'hits',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb',
 'gk']

### Convert join to date time

In [ ]:
pd.to_datetime

### Remove stars

In [164]:
def starout(x):
    if ('★'in x):
        x = x.replace('★',"")
        x = int(x)
        return x

In [165]:
#map(starout,w/f)

NameError: name 'w' is not defined

In [ ]:
#map(starout,sm)
#map((starout,ir)

### Convert value, wage and release_clause to numerical

In [171]:
# value	wage	release_clause

# define the function to apply to the columns

def standard_amount(x):
    if x[-1] == 'K':
        x = float(x.lstrip('€').rstrip('K'))*1000
        return x
    elif x[-1] == 'M':
        x = float(x.lstrip('€').rstrip('M'))*1000000
        return x
    else:
        x = float(x.lstrip('€'))
        return x

In [166]:
# isinstance(x,str) --> type(x) == str

moneyCols = []
for c in df.columns:
    if isinstance(df[c][0],str) and df[c][0][0] == '€':
        moneyCols.append(c)

moneyCols

['value', 'wage', 'release_clause']

In [167]:
df[moneyCols]

       value  wage release_clause
0      €525K   €4K          €801K
1      €8.5M  €23K             €0
2        €9M  €49K         €15.3M
3      €275K   €4K          €694K
4      €725K   €2K          €1.4M
...      ...   ...            ...
11696  €625K   €3K          €891K
11697  €1.6M   €4K          €2.9M
11698  €1.1M   €2K          €1.7M
11699     €0    €0             €0
11700  €700K   €2K          €1.2M

[11701 rows x 3 columns]

In [172]:
for f in moneyCols:
    df[f] = df[f].apply(standard_amount)

df[moneyCols]

           value     wage  release_clause
0       525000.0   4000.0        801000.0
1      8500000.0  23000.0             0.0
2      9000000.0  49000.0      15300000.0
3       275000.0   4000.0        694000.0
4       725000.0   2000.0       1400000.0
...          ...      ...             ...
11696   625000.0   3000.0        891000.0
11697  1600000.0   4000.0       2900000.0
11698  1100000.0   2000.0       1700000.0
11699        0.0      0.0             0.0
11700   700000.0   2000.0       1200000.0

[11701 rows x 3 columns]

In [163]:
standard_amount(df.value[0])

525000

### Converting player attributes features

In [ ]:
#for col in ['ls','st','rs','lw',lf	cf	rf	rw	lam	cam	ram	lm	lcm	cm	rcm	rm	lwb	ldm	cdm	rdm	rwb	lb	lcb	cb	rcb	rb	gk]
#    df[col] = list(map(lambda x: int(x.split("+")[0]) + int(x.split("+")[1], df[col]))

## Deal with NaN

In [105]:
#df.isna().sum()[df.isna().sum() != 0]
#nan_df = pd.Dataframe(df.isna().sum()[df.isna().sum() != 0]) #, c

In [106]:
nan_df = pd.DataFrame(df.isna().sum(), columns=['NaN'])

nanCols = list(nan_df[nan_df.NaN != 0].index)

#nanCols
nan_df.T[nanCols]

,club,position,joined,loan_date_end,volleys,curve,agility,balance,jumping,interceptions,positioning,vision,composure,sliding_tackle,a/w,d/w
NaN,18,288,41,11072,41,41,41,41,41,7,7,41,279,41,59,59

In [107]:
#nanCols = list(df.isna().sum()[df.isna().sum() != 0].index)
#nanCols

In [108]:
# Percentage of NaN

In [109]:
nan_df = pd.DataFrame(round(df[nanCols].isna().sum()/len(df),4)*100, columns=['percent_nan'])
nan_df.T

,club,position,joined,loan_date_end,volleys,curve,agility,balance,jumping,interceptions,positioning,vision,composure,sliding_tackle,a/w,d/w
percent_nan,0.15,2.46,0.35,94.62,0.35,0.35,0.35,0.35,0.35,0.06,0.06,0.35,2.38,0.35,0.5,0.5

In [110]:
# Drop loan_date_end variable
df.drop(columns='loan_date_end', inplace=True)
nanCols.remove('loan_date_end')

In [111]:
# Personal question: check if the 41 NaN values coincide in the same rows 
df.volleys[df.joined.isna()].value_counts()
#==df.volleys.isna().iloc[0]
# df.joined.isna()==df.volleys.isna()[df.joined.isna()==df.volleys.isna() == True]

Series([], Name: volleys, dtype: int64)

In [112]:
nan41cols = df.isna().sum()[df.isna().sum() == 41]
nan41cols

joined            41
volleys           41
curve             41
agility           41
balance           41
jumping           41
vision            41
sliding_tackle    41
dtype: int64

In [113]:
# Drop all rows with NaN values
dfc = df.dropna(axis=0)
dfc.shape

(11211, 100)

In [116]:
len(df)

11701

In [115]:
dfc.isna().sum()[dfc.isna().sum() != 0]

Series([], dtype: int64)

In [117]:
# We have dropped a 4.18% of rows